/*************Div 1**************/

.container div{
    border: 3px burlywood solid;
    padding: 10px;
    background-color: teal;
}

.item1 {
    color: coral;
    width: 200px ;
    height: 100px;
    text-align: center;
}

.item2 {
    color: red;
    width: 200px ;
    height: 100px;
    text-align: center;
}

.item3 {
    color: wheat;
    width: 200px ;
    height: 100px;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

/***************************Div 2****************************/

.container2 div{
    border: 3px black solid;
    padding: 10px;
    background-color: aquamarine;
}

.item4 {
    color: crimson;
    width: 200px;
    height: 100px;
    text-align: center;
}

.item5 {
    color: darkblue;
    width: 200px;
    height: 100px;
    text-align: center;
}

.item6 {
    color: white;
    width: 200px;
    height: 100px;
    text-align: center;
}

.container2{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}