@charset "utf-8";
 .container div {
   border: 2px turquoise solid;
   padding: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.item1 {
    flex: 2;
    order: 2;
    
}

.item2 {
    flex: 1;
    order: 1; 
    align-self: flex-start;
}

.item3 {
    flex: 1;
    order: 3;
    align-self: flex-end;
}

.item4 {
    flex: 1;
    order: 4;
}
