@charset "utf-8";
/* Navbar */
.navbar {
 margin-bottom: 0;
 background-color: #492265 !important;
}

.navbar a {
 color: #ffffff !important;
}

.navbar .bi {
 font-size: 18px;
 color: #ffffff;
}

/* Showcase */
.showcase img {
    opacity: 3;
   }

   /* Backgrounds */
   .bg-alaranjado {
    background-color: #F76024;
    color: #ffffff;
    font-weight: bold;
   }

   .bg-roxo {
    background-color: #492265;
    color: #ffffff;
    font-weight: bold;
   }

   .bg-azul-claro {
    background-color: #00C1C4;
    color: #ffffff;
    font-weight: bold;
   }


   /* Textos */
.texto-alaranjado {
    color: #F76024;
    font-weight: bold;
    text-decoration: none;
   }

   .texto-roxo {
    color: #492265;
    font-weight: bold;
    text-decoration: none;
   }

   .texto-azul-claro {
    color: #00C1C4;
    font-weight: bold;
    text-decoration: none;
   }

   /* Efeito ao passar o mouse sobre os grids */
   .sobre_ios:hover {
    background: rgb(108, 1, 142);
    background: linear-gradient(90deg, rgba(108, 1, 142, 1) 0%, rgba(102, 0, 134, 1) 35%, rgba(58, 0, 76, 1) 10
0%);
 color: #ffffff;
}

.sobre_ios:hover h5, .sobre_ios:hover a {
 color: #ffffff;
}

.para_voce:hover {
 background: rgb(248, 116, 62);
 background: linear-gradient(90deg, rgba(248, 116, 62, 1) 0%, rgba(244, 100, 43, 1) 50%, rgba(236, 69, 5, 1)
100%);
 color: #ffffff;
}

.para_voce:hover h5, .para_voce:hover a {
 color: #ffffff;
}

.para_empresa:hover {
 background: rgb(32, 170, 226);
 background: linear-gradient(90deg, rgba(32, 170, 226, 1) 0%, rgba(23, 146, 206, 1) 40%, rgba(2, 87, 158, 1)
100%);
 color: #ffffff;
}

.para_empresa:hover h5, .para_empresa:hover a {
 color: #ffffff;
}

/* Rodapé */
footer img {
    padding: 0 10px 10px 10px;
    width: 200px;
    align-items: left;
}