p {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 150px;
    font-weight: bold;
    background-color: burlywood;
}

p {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 100px;
    text-align: center;
}
h1 {
    margin-top: 100px;
    margin-left: 300px;
    color: red;
}
h2 {
    margin-top: 50px;
    margin-left: 250px;
    color:brown;

}

h3 {
    margin-top: 50px;
    margin-left: 100px;
    color: coral;
}

ol {
    margin-left: 50px;

}

li {
    background-color: burlywood;
    color: darkblue;
    border-right: 5px wheat solid;
    border-left: 5px wheat solid;
    border-top: 5px wheat solid;
    border-bottom: 5px wheat solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 20px ;
    margin-right: 150px;
}